.user-list-item {

  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.03);

  a {
    flex: 1;
    display: flex;
    align-items: center;
    color: #333;
    &:hover {
      text-decoration: none;
      color: #666;
    }
    h2 {
      margin: 0;
      font-size: 24px;
    }

    h5 {
      margin: 0;
      color: #999;
      font-weight: normal;
      margin-top: 5px;
    }
  }

  .profile-pic {

    height: 60px;
    width: 60px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 15px;

    &.placeholder {
      background-color: #f0f0f0;
      border: 1px solid #ddd;
    }

    img {
      height: 100%;
    }

  }
}
